* {
    font-family: "Lato", sans-serif !important;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}
#menu{
    margin: 10px;
}
/* popup-class*/

.class-popup {
    background: #2980b9;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
}

.class-tool{
    max-width: 250px;
}