* {
  font-family: "Lato", sans-serif !important;
}

html,
body {
  height: 100%;
  width: 100vw;
}

#menu {
  margin: 15px;
}

#map {
  margin: auto;
  margin-top: 10px;
  height: 250px;
  width: 100vw;
  transition: height 1s ease;
}

#map.expanded {
  height: 100%;
  transition: height 1s ease;
}

.tooltip {
  background: #2980b9;
  color: #fff;
  font-size: 10px;
  line-height: 10px;
  margin-right: 30px;
}

.class-tool {
  max-width: 250px;
}
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.btncat {
  outline: none;
  box-shadow: none;
  margin: 3px;
  width: 146px;
  padding: 1px;
}

button {
  outline: none;
  box-shadow: none;
}
.accordion-body {
  padding: 0;
}

.fixaccordion{
  max-height: 250px !important;
  overflow: auto !important;
}

.btn-sm:focus {
  outline: none;
  box-shadow: none;
}
.btn-sm:hover {
  background-color: transparent;
  color: rgb(131, 131, 131);
}
.btn-sm.active {
  background-color: rgb(168, 166, 166);
  color: white;
}

.h2,h2 {
  font-size: 14px;
  font-size: large;
  font-weight: 900;
  margin: auto;
}

.placelistcontainer {
  font-size: 17px;
  margin-top: 15px;
}

.leaflet-tooltip-left {
  margin-left: -19px;
  margin-top: -12px;
}
.leaflet-tooltip-right {
  margin-left: 15px;
  margin-top: -12px;
}
.leaflet-center {
  left: 50%;
  transform: translate(-50%, 0%);
}
.leaflet-tooltip-left:before,
.leaflet-tooltip-right:before {
  display: none;
}
#refreshButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  z-index: 400;
}
#refreshButton:hover {
  opacity: 0.8;
  cursor: pointer;
}
.mapbtn {
  height: 26px;
  background-color: #ffffff;
  font-size: 103%;
  color: rgb(121, 121, 121);
  padding: 0px 10px 1px 10px;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 5px;
}
